.nav {
  position: absolute;
  top: 0;
  width: 100vw;

  opacity: 0.2;
  border-bottom: 1px solid rgb(225, 225, 225, 0.6);
  /* box-shadow: 0px 0px 0px 5px rgb(0 0 0); */
  z-index: 4;
  height: 80px;

  background-color: rgb(225, 225, 225, 0.4);
}
